
// COLORS 
$bg-color: #202020;
$color-white: #ffffff;
$color-1: #f8cc2f;
$color-2: #393939;
$color-3: #464646;
$color-4: #191a35;


// OPACITY COLORS

$o-color-1: #3939391f;
$o-color-2: #0f0f0f38;



// FONTS 
$basic-font: 'Montserrat',
sans-serif;


// BREAKPOINTS

$bp-large: 1600px;
$bp-desktop: 1366px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-phone: 576px;