$bg-color: #202020;
$white: #fff;



// FONTS 
$basic-font: 'Montserrat',
sans-serif;





// BREAKPOINTS

$bp-large: 1600px;
$bp-desktop: 1366px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-phone: 576px;