@import '_variables.scss';
@import '_settings.scss';
@import '_mixins.scss';
svg{
    width: 64px;
    height: 64px;
}

body{
    background-color: $bg-color;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    &__app-logo{
        
        .app-logo{
            fill: $white;
            height: 45px;
            width: 45px;
        }
    }
    &__title{
        font-size: 20px;
        margin-left: 15px;
    }
}

// WEALTH SECTION

.wealth-section{
    background-color: gray;
    width: 100%;
    height: auto;
}

.wealth-wrapper{
    min-height: 140px;
}


// SECTION EXPENSES

.expenses-section{
    background-color: #585858;
    width: 100%;
}

.expenses-bar{
    display: block;
    width: 100%;
    height: auto;

    &__inner {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        border-bottom: 1px solid white;
    }

    &__header {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
    }

    &__icon{   
        margin: 0 5px;
        transform: rotate(-90deg);
        svg {
            width: 10px;
            height: 10px;
            fill: white;
            transition: transform .5s ease;
        }
    }

    &__header-icon{   
        svg {
            width: 30px;
            height: 30px;
            fill: white;
            margin: 0 5px;
        }
    }
    &__title{
        font-size: 16px;
        margin-left: 5px;
    }
    &__price{
        color: white;
        margin: 0 5px 0 auto;
    }

    &__list{
        height: auto;
        width: 100%;
        background-color: #3d3d68;

        ul{
            list-style: none;
            margin: 5px 0;
            padding: 5px;
        }

        &--hide{
            // transform: scale(1, 0);
            height: 0;
            display: none;
            // transform-origin: top;
            transition: transform .5s ease;
        }
    }
}

.bar__icon{
    svg{
        width: 35px;
        height: 35px;
        fill: white;
        margin: 0 5px;
    }
}




// NAVIGATION 
.nav-bar{
    background-color: #b8b8b8;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;

    input{
        margin-top: 5px;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        padding: 5px 2px 1px 2px;
        font-size: 19px;
        color: white;
        // font-weight: 300;
    }
}