@import '_variables.scss';
@import '_settings.scss';
@import '_mixins.scss';

svg{
    width: 64px;
    height: 64px;
}

body{
    background-color: $color-1;
}

.header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;

    &__app-logo{
        
        .app-logo{
            fill: $color-3;
            height: 45px;
            width: 45px;
        }
    }
    &__title{
        font-size: 18px;
        margin-left: 15px;
        color: $color-2;
        font-weight: 500;
    }
}

// WEALTH SECTION

.wealth-section{
    width: 100%;
    height: auto;
    background-color: $o-color-1;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.wealth-wrapper{
    // min-height: 140px;
    text-align: right;

    date{
        font-size: 10px;
    }
}

.payment{
    margin-bottom: 10px;

    &__budget{
        font-size: 14px;
        font-weight: 500;
        color: $color-2;
    }

    &__value{ 
        font-size: 42px;
        font-weight: 400;
        color: $color-3;
    }
}

.wallet{
    
    &__title{
        font-size: 14px;
        font-weight: 500;
        color: $color-2;
    }

    &__value{
        font-size: 62px;
        font-weight: 300;
        color: $color-3;
    }
}

.monetary-unit{
    font-size: 20px;
    font-weight: 500;
    color: $color-3;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

// SECTION EXPENSES

.expenses-section{
    // background-color: #585858;
    // border: 1px solid $color-2;
    box-shadow: 0 0 7px 5px $o-color-2;
    background-color: $color-white;
    border-radius: 10px;
    width: 100%;
}

.expenses-bar{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
    // background-color: $color-white;

    &__inner {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;

        &:last-child{
            // margin-bottom: 100px;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        // border-bottom: 1px solid white;
    }

    &__icon{   
        margin: 0 5px;

        svg {
            width: 10px;
            height: 10px;
            fill: $color-2;
            transition: transform .5s ease;
            transform: rotate(-90deg);
        }
        &--hide{
            svg{
                transform: rotate(0deg);
            }
        }
    }

    &__header-icon{   
        svg {
            width: 30px;
            height: 30px;
            fill: $color-2;
            margin: 0 5px;
        }
    }
    &__title{
        font-size: 16px;
        margin-left: 5px;
        color:$color-2;
        font-weight: 400;
    }
    &__price{
        color: $color-2;
        font-weight: 400;
        margin: 0 5px 0 auto;
    }

    &__list{
        height: auto;
        width: 100%;
        display: block;
        background-color: #3d3d68;
        transform-origin: top center;
        animation-name: growDown;
        animation-duration: .3s;
        animation-fill-mode: forwards;

        ul{
            list-style: none;
            margin: 5px 0;
            padding: 5px;
        }

        &--hide{
            height: 0;
            animation: hideDown;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }

        100% {
            transform: scaleY(1)
        }
    }

    @keyframes hideDown {
        0%{
            transform: scaleY(1);
        }
        100%{
            transform: scaleY(0);
        }
    }
}


// NAVIGATION 
.nav-bar{
    background-color: $color-4;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0 10px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    &__add-new-expenses{

        button{
            width: 48px;
            height: 48px;
            background-color: transparent;
            color: white;
            display: block;
            border: none;
            outline: none;

            svg{
                width: 100%;
                height: 100%;
                text-align: center;
                fill:white;

            }
        }
    }

    &__add-new-category{

        button{
            background-color: transparent;
            border: none;
            width: 48px;
            height: 48px;
            display: block;
            outline: none;

            svg{
                fill: white;
                width: 100%;
                height: 100%;
            }
        }
    }
    &__add-new-item{
        button{
            background-color: transparent;
            border: none;
            width: 48px;
            height: 48px;
            display: block;
            outline: none;

            svg{
                fill:white;
                width: 100%;
                height: 100%;
            }
        }
    }
}


// MODAL

.modal{
    background-color: pink;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px 15px;
    top: 100%;
    transition: transform .5s ease;

    &--active{
        transform: translateY(-300%);
    }


    &__add-category{
        background-color: pink;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        // display: none;

        &--hide{
            transform: translateX(100%);
            display: block;
        }
    }

    &__add-item{ 
        background-color: goldenrod;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        &--hide {
            transform: translateX(100%);
            display: block;
        }
    }
}

.input__payment {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 5px 2px 1px 2px;
    font-size: 19px;
    color: white;
}
