@import '_variables.scss';
@import '_settings.scss';
@import '_mixins.scss';

svg{
    width: 64px;
    height: 64px;
}

body{
    background-color: $bg-color;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;

    &__app-logo{
        
        .app-logo{
            fill: $white;
            height: 45px;
            width: 45px;
        }
    }
    &__title{
        font-size: 20px;
        margin-left: 15px;
    }
}

// WEALTH SECTION

.wealth-section{
    background-color: gray;
    width: 100%;
    height: auto;
}

.wealth-wrapper{
    min-height: 140px;
}


// SECTION EXPENSES

.expenses-section{
    // background-color: #585858;
    width: 100%;
}

.expenses-bar{
    display: block;
    width: 100%;
    height: auto;

    &__inner {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;

        &:last-child{
            margin-bottom: 100px;
        }
    }

    &__header {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        background-color: #585858;
        border-bottom: 1px solid white;
    }

    &__icon{   
        margin: 0 5px;
        svg {
            width: 10px;
            height: 10px;
            fill: white;
            transition: transform .5s ease;
            transform: rotate(-90deg);
        }
        &--hide{
            svg{
                transform: rotate(0deg);
            }
        }
    }

    &__header-icon{   
        svg {
            width: 30px;
            height: 30px;
            fill: white;
            margin: 0 5px;
        }
    }
    &__title{
        font-size: 16px;
        margin-left: 5px;
        color:white;
    }
    &__price{
        color: white;
        margin: 0 5px 0 auto;
    }

    &__list{
        height: auto;
        width: 100%;
        display: block;
        background-color: #3d3d68;
        transform-origin: top center;
        animation-name: growDown;
        animation-duration: .3s;
        animation-fill-mode: forwards;

        ul{
            list-style: none;
            margin: 5px 0;
            padding: 5px;
        }

        &--hide{
            height: 0;
            animation: hideDown;
            animation-duration: .3s;
            animation-fill-mode: forwards;
        }
    }

    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }

        100% {
            transform: scaleY(1)
        }
    }

    @keyframes hideDown {
        0%{
            transform: scaleY(1);
        }
        100%{
            transform: scaleY(0);
        }
    }
}


// NAVIGATION 
.nav-bar{
    background-color: #b8b8b8;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 999;

    input{
        margin-top: 5px;
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        padding: 5px 2px 1px 2px;
        font-size: 19px;
        color: white;
    }

    &__payment-input {
        width: 40px;
        height: 40px;
        // background-color: black;

        button {
            width: 100%;
            height: 100%;
            background-color: blue;
            color: white;
            border-radius: 50%;
            border: none;
            outline: none;
            font-size: 16px;
            line-height: 1;

            &:hover {
                background-color: black;
            }

            &:active {
                background-color: green;
            }
        }
    }

    &__add-new-expenses{
        width: 50px;
        height: 50px;
        // background-color: black;

        button{
            width: 100%;
            height: 100%;
            background-color: red;
            color: white;
            border-radius: 50%;
            border: none;
            outline: none;
            font-size: 48px;
            line-height: 1;

            &:hover{
                background-color: black;            
            }
            &:active{
                background-color:green;
            }
        }
    }
}


// MODAL

.modal{
    background-color: pink;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px 15px;
    top: 100%;
    transition: transform .5s ease;

    &--active{
        transform: translateY(-200px);
    }
}

.input__payment {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 5px 2px 1px 2px;
    font-size: 19px;
    color: white;
}
