*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: normal;
  color: #fff; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 550px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1366px) {
    .container {
      width: 1170px; } }
  @media only screen and (min-width: 1600px) {
    .container {
      width: 1250px; } }

svg {
  width: 64px;
  height: 64px; }

body {
  background-color: #202020; }

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center; }
  .header__app-logo .app-logo {
    fill: #fff;
    height: 45px;
    width: 45px; }
  .header__title {
    font-size: 20px;
    margin-left: 15px; }

.wealth-section {
  background-color: gray;
  width: 100%;
  height: auto; }

.wealth-wrapper {
  min-height: 140px; }

.expenses-section {
  width: 100%; }

.expenses-bar {
  display: block;
  width: 100%;
  height: auto; }
  .expenses-bar__inner {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column; }
    .expenses-bar__inner:last-child {
      margin-bottom: 100px; }
  .expenses-bar__header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #585858;
    border-bottom: 1px solid white; }
  .expenses-bar__icon {
    margin: 0 5px; }
    .expenses-bar__icon svg {
      width: 10px;
      height: 10px;
      fill: white;
      transition: transform .5s ease;
      transform: rotate(-90deg); }
    .expenses-bar__icon--hide svg {
      transform: rotate(0deg); }
  .expenses-bar__header-icon svg {
    width: 30px;
    height: 30px;
    fill: white;
    margin: 0 5px; }
  .expenses-bar__title {
    font-size: 16px;
    margin-left: 5px;
    color: white; }
  .expenses-bar__price {
    color: white;
    margin: 0 5px 0 auto; }
  .expenses-bar__list {
    height: auto;
    width: 100%;
    display: block;
    background-color: #3d3d68;
    transform-origin: top center;
    animation-name: growDown;
    animation-duration: .3s;
    animation-fill-mode: forwards; }
    .expenses-bar__list ul {
      list-style: none;
      margin: 5px 0;
      padding: 5px; }
    .expenses-bar__list--hide {
      height: 0;
      animation: hideDown;
      animation-duration: .3s;
      animation-fill-mode: forwards; }

@keyframes growDown {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

@keyframes hideDown {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }

.nav-bar {
  background-color: #b8b8b8;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  z-index: 999; }
  .nav-bar__add-new-expenses {
    width: 50px;
    height: 50px;
    display: block; }
    .nav-bar__add-new-expenses button {
      width: 100%;
      height: 100%;
      background-color: red;
      color: white;
      border-radius: 50%;
      border: none;
      outline: none; }
      .nav-bar__add-new-expenses button:hover {
        background-color: pink; }
      .nav-bar__add-new-expenses button:active {
        background-color: green; }
      .nav-bar__add-new-expenses button svg {
        width: 40px; }
  .nav-bar__add-new-category button {
    background-color: transparent;
    border: none; }

.modal {
  background-color: pink;
  position: fixed;
  left: 0;
  right: 0;
  padding: 5px 15px;
  top: 100%;
  transition: transform .5s ease; }
  .modal--active {
    transform: translateY(-300%); }
  .modal__add-category {
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; }
    .modal__add-category--active {
      transform: translateX(100%);
      display: block; }
    .modal__add-category input[type=radio] {
      display: none; }
    .modal__add-category input[type=radio] + label {
      display: inline-block;
      margin: -2px;
      padding: 4px 12px;
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      text-align: center;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
      vertical-align: middle;
      cursor: pointer;
      background-color: #f5f5f5;
      background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
      background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
      background-image: -o-linear-gradient(top, #fff, #e6e6e6);
      background-image: linear-gradient(to bottom, #fff, #e6e6e6);
      background-repeat: repeat-x;
      border: 1px solid #ccc;
      border-color: #e6e6e6 #e6e6e6 #bfbfbf;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      border-bottom-color: #b3b3b3;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .modal__add-category input[type=radio]:checked + label {
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      background-color: #e0e0e0; }

.input__payment {
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 5px 2px 1px 2px;
  font-size: 19px;
  color: white; }
