*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: normal;
  color: #fff; }

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 576px) {
    .container {
      width: 550px; } }
  @media only screen and (min-width: 768px) {
    .container {
      width: 750px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 970px; } }
  @media only screen and (min-width: 1366px) {
    .container {
      width: 1170px; } }
  @media only screen and (min-width: 1600px) {
    .container {
      width: 1250px; } }

svg {
  width: 64px;
  height: 64px; }

body {
  background-color: #f8cc2f; }

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__app-logo {
    display: flex;
    align-items: center; }
    .header__app-logo .app-logo {
      fill: #464646;
      height: 45px;
      width: 45px; }
  .header__title {
    font-size: 18px;
    margin-left: 15px;
    color: #393939;
    font-weight: 500; }
    .header__title::after {
      content: '';
      width: 104px;
      height: 2px;
      margin-top: 2px;
      background-color: #464646;
      position: absolute;
      display: flex; }
  .header__day-and-night {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__day-and-night .btn__day-and-night {
      background-color: transparent;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer; }
      .header__day-and-night .btn__day-and-night svg {
        width: 100%;
        height: 100%;
        fill: #393939; }

.wealth-section {
  width: 100%;
  height: auto;
  background-color: #3939391f;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 20px; }

.wealth-wrapper {
  text-align: right; }
  .wealth-wrapper date {
    font-size: 10px; }

.payment {
  margin-bottom: 10px; }
  .payment__budget {
    font-size: 14px;
    font-weight: 500;
    color: #393939; }
  .payment__value {
    font-size: 42px;
    font-weight: 400;
    color: #464646; }

.wallet__title {
  font-size: 14px;
  font-weight: 500;
  color: #393939; }

.wallet__value {
  font-size: 62px;
  font-weight: 300;
  color: #464646; }

.monetary-unit {
  font-size: 20px;
  font-weight: 500;
  color: #464646;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600; }

.expenses-section {
  box-shadow: 0 0 7px 5px #0f0f0f38;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%; }

.expenses-bar {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px; }
  .expenses-bar__inner {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column; }
    .expenses-bar__inner:last-child {
      margin-bottom: 100px; }
  .expenses-bar__header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center; }
  .expenses-bar__icon {
    margin: 0 5px; }
    .expenses-bar__icon svg {
      width: 10px;
      height: 10px;
      fill: #393939;
      transition: transform .5s ease;
      transform: rotate(-90deg); }
    .expenses-bar__icon--hide svg {
      transform: rotate(0deg); }
  .expenses-bar__header-icon svg {
    width: 30px;
    height: 30px;
    fill: #393939;
    margin: 0 5px; }
  .expenses-bar__title {
    font-size: 16px;
    margin-left: 5px;
    color: #393939;
    font-weight: 400; }
  .expenses-bar__price {
    color: #393939;
    font-weight: 400;
    margin: 0 5px 0 auto; }
  .expenses-bar__list {
    height: auto;
    width: 100%;
    display: block;
    background-color: #3d3d68;
    transform-origin: top center;
    animation-name: growDown;
    animation-duration: .3s;
    animation-fill-mode: forwards; }
    .expenses-bar__list ul {
      list-style: none;
      margin: 5px 0;
      padding: 5px; }
    .expenses-bar__list--hide {
      height: 0;
      animation: hideDown;
      animation-duration: .3s;
      animation-fill-mode: forwards; }

@keyframes growDown {
  0% {
    transform: scaleY(0); }
  100% {
    transform: scaleY(1); } }

@keyframes hideDown {
  0% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(0); } }

.nav-bar {
  background-color: #191a35;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0 10px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 20px 2px  #000; }
  @media only screen and (min-width: 768px) {
    .nav-bar {
      width: 500px;
      left: 50%;
      transform: translateX(-50%); } }
  .nav-bar__add-new-expenses button {
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: white;
    display: block;
    border: none;
    outline: none;
    cursor: pointer; }
    .nav-bar__add-new-expenses button svg {
      width: 100%;
      height: 100%;
      text-align: center;
      fill: white; }
  .nav-bar__add-new-category button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: block;
    outline: none;
    cursor: pointer; }
    .nav-bar__add-new-category button svg {
      fill: white;
      width: 100%;
      height: 100%; }
  .nav-bar__add-new-item button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: block;
    outline: none;
    cursor: pointer; }
    .nav-bar__add-new-item button svg {
      fill: white;
      width: 100%;
      height: 100%; }

.modal {
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform .5s ease;
  color: #fff; }
  .modal__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px; }
  .modal__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; }
  .modal__add-budget {
    background-color: #191a35;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 15px;
    height: 200px; }
    .modal__add-budget--hide {
      transform: translateY(100%); }
  .modal__add-category {
    background-color: #464646;
    max-width: 500px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .modal__add-category .modal__input-category {
      border: none;
      outline: none;
      border-bottom: 1px solid #fff;
      background-color: transparent;
      font-size: 19px;
      letter-spacing: 1.5px;
      color: white;
      margin-bottom: 50px; }
    .modal__add-category .category-icon-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      max-width: 200px; }
      .modal__add-category .category-icon-box__title {
        margin-bottom: 10px;
        font-weight: 400; }
      .modal__add-category .category-icon-box__radio-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px; }
        @media only screen and (min-width: 576px) {
          .modal__add-category .category-icon-box__radio-form {
            display: flex; } }
      .modal__add-category .category-icon-box input[type=radio] {
        display: none; }
      .modal__add-category .category-icon-box input[type=radio]:checked + svg {
        fill: #191a35; }
      .modal__add-category .category-icon-box svg {
        margin: 3px;
        fill: #ffffff;
        width: 42px;
        cursor: pointer; }
        .modal__add-category .category-icon-box svg:hover {
          fill: #f8cc2f; }
    .modal__add-category .btn-add-category {
      background-color: #191a35;
      border: none;
      outline: none;
      padding: 10px 20px;
      color: #ffffff;
      border-radius: 2px;
      font-size: 19px; }
    .modal__add-category--hide {
      transform: translateX(-500px); }
  .modal__add-item {
    background-color: goldenrod;
    position: fixed;
    top: 0;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 10px; }
    .modal__add-item--hide {
      transform: translateX(-500px); }

.input__payment {
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  padding: 5px 2px 1px 2px;
  font-size: 19px;
  text-align: right;
  letter-spacing: 1.5px;
  color: white; }
